/*** setup ***/
	#setup {
		z-index: 1;
		padding: var(--medium-gap-size);
		float: left;
		width: calc(100vw - 2 * var(--medium-gap-size));
		height: calc(100vh - 2 * var(--medium-gap-size));
		background-color: var(--light-gray);
		overflow-x: hidden;
		overflow-y: scroll;
	}

	body:not([mode="setup"]) #setup {
		display: none;
		pointer-events: none;
	}

	/* global */
		.setup-column {
			float: left;
			width: calc(50% - var(--medium-gap-size) / 2);
		}

		.setup-column:last-child {
			margin-left: var(--medium-gap-size);
		}

		@media screen and (max-width: 999px) {
			.setup-column {
				width: 100%;
				margin-left: 0 !important;
			}
		}

		.setup-section {
			background-color: var(--medium-gray);
			border-radius: calc(1.5 * var(--border-radius));
			padding: var(--medium-gap-size);
			float: left;
			width: calc(100% - 2 * var(--medium-gap-size));
			margin-bottom: var(--medium-gap-size);
		}

		.setup-section:last-child {
			margin-bottom: 0;
		}

		.setup-description {
			float: left;
			margin-left: calc(8 * var(--medium-font-size) + 2 * var(--small-gap-size));
			width: calc(100% - (8 * var(--medium-font-size)) - (2 * var(--small-gap-size)));
			height: auto;
			font-size: var(--small-font-size);
			color: var(--light-gray);
			padding: var(--small-gap-size) 0 var(--medium-gap-size) 0;
		}

	/* launch */
		#setup-launch {
			width: calc(100vw - 4 * var(--medium-gap-size));
		}

		#setup-launch-button {
			font-size: var(--huge-font-size);
			min-height: calc(var(--huge-font-size) + 3 * (var(--small-gap-size)));
			height: auto;
			margin: 0;
			border-radius: calc(1.5 * var(--border-radius));
		}

	/* controls */
		@media screen and (max-width: 999px) {
			#setup-controls {
				display: none;
			}
		}

		#setup-controls label {
			color: var(--light-gray);
			font-size: var(--medium-font-size)
		}

		#setup-controls label span {
			font-weight: bold;
		}

		#setup-controls label b {
			font-weight: bold;
			display: inline-block;
			vertical-align: bottom;
			text-align: center;
			background-color: var(--light-gray);
			padding: var(--small-gap-size);
			color: var(--medium-gray);
			height: var(--medium-font-size);
			min-width: var(--medium-font-size);
			margin: 0 calc(var(--small-gap-size) / 2);
			border-radius: var(--border-radius);
		}

	/* players */
		@media screen and (min-height: 640px) {
			#setup-players {
				overflow-x: hidden;
				overflow-y: scroll;
				max-height: calc(100vh - 7 * var(--medium-gap-size) - 3 * var(--small-gap-size) - var(--huge-font-size));
			}
		}

		.setup-player {
			float: left;
			width: calc(100% - 2 * var(--small-gap-size));
			padding: var(--small-gap-size);
			margin-bottom: var(--medium-gap-size);
			border-radius: var(--border-radius);
		}

		.setup-player:last-child {
			margin-bottom: 0;
		}

		.setup-player-notches {
			float: left;
			width: 100%;
			height: var(--small-gap-size);
		}

		.setup-player-notch {
			float: left;
			height: var(--small-gap-size);
			width: var(--small-gap-size);
			background-color: var(--dark-gray);
			border-radius: 100% 100% 0 0;
			margin-left: calc(10% - var(--small-gap-size))
		}

		.setup-player-bar {
			float: left;
			width: 100%;
			height: auto;
			background-color: var(--light-purple);
			border-radius: var(--border-radius);
			overflow: hidden;
		}

		.setup-player-minibar {
			float: left;
			width: 20%;
			height: var(--small-font-size);
			padding: var(--medium-gap-size) 0;
			color: var(--dark-gray);
			font-size: var(--small-font-size);
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 1;
			text-align: center;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			z-index: 2;
			pointer-events: none;
		}

		.setup-player-minibar:first-child {
			border-radius: var(--border-radius) 0 0 var(--border-radius);
		}

		.setup-player-minibar:last-child {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}

		.setup-player-dragger {
			float: left;
			height: calc(2 * var(--medium-gap-size) + var(--small-font-size));
			width: var(--small-gap-size);
			background-color: var(--medium-gray);
			cursor: pointer;
			outline: none;
			margin-left: calc(-1 * var(--small-gap-size));
			z-index: 3;
		}

		.setup-player-dragger:hover, .setup-player-dragger:focus {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray) inset;
		}

		.setup-player-minibar[statistic="speed"] {
			background-color: var(--light-yellow);
		}

		.setup-player-minibar[statistic="strength"] {
			background-color: var(--light-red);
		}

		.setup-player-minibar[statistic="laser"] {
			background-color: var(--light-blue);
		}

		.setup-player-minibar[statistic="recovery"] {
			background-color: var(--light-green);
		}

		.setup-player-minibar[statistic="vision"] {
			background-color: var(--light-purple);
		}

	/* team */
		.setup-player[team="red"] {
			background-color: var(--medium-red);
		}
		.setup-player[team="orange"] {
			background-color: var(--medium-orange);
		}
		.setup-player[team="yellow"] {
			background-color: var(--medium-yellow);
		}
		.setup-player[team="green"] {
			background-color: var(--medium-green);
		}
		.setup-player[team="blue"] {
			background-color: var(--medium-blue);
		}
		.setup-player[team="purple"] {
			background-color: var(--medium-purple);
		}

/*** map ***/
	#map {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		border: 0;
		border-radius: 0;
		padding: 0;
		margin: 0;
		z-index: 0;
		pointer-events: none;
		cursor: none;
	}

	body[mode="setup"] #map {
		display: none;
		pointer-events: none;
	}

/*** mobile controls ***/
	#mobile-controls {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	body:not([mode="game"]) #mobile-controls {
		display: none;
		pointer-events: none;
	}

	@media screen and (min-width: 1000px) {
		#mobile-controls {
			display: none;
			pointer-events: none;
		}
	}

	#mobile-controls-directions {
		position: absolute;
		bottom: var(--medium-gap-size);
		left: var(--medium-gap-size);
		width: calc(3 * 2 * var(--large-gap-size));
	}

	#mobile-controls-actions {
		position: absolute;
		bottom: var(--medium-gap-size);
		right: var(--medium-gap-size);
	}

	/* button */
		.mobile-controls-button {
			float: left;
			height: calc(2 * var(--large-gap-size));
			width: calc(2 * var(--large-gap-size));
			border-radius: var(--border-radius) var(--border-radius) 0 0;
			outline: none;
			border: none;
			background-color: var(--light-gray);
			color: var(--medium-gray);
			font-weight: bold;
			font-size: var(--large-font-size);
			text-align: center;
			margin: 0;
			opacity: 0.2;
		}

	/* directions */
		#mobile-controls-up-left {
			transform: translateX(calc(var(--medium-gap-size))) translateY(calc(var(--medium-gap-size))) rotate(-45deg);
		}

		#mobile-controls-up {
			transform: rotate(0deg);
		}

		#mobile-controls-up-right {
			transform: translateX(calc(-1 * var(--medium-gap-size))) translateY(calc(var(--medium-gap-size))) rotate(45deg);
		}

		#mobile-controls-left {
			transform: rotate(-90deg);
		}

		#mobile-controls-center {
			transform: rotate(0deg);
			border-radius: 0;
			pointer-events: none;
		}

		#mobile-controls-right {
			transform: rotate(90deg);
		}

		#mobile-controls-down-left {
			transform: translateX(calc(var(--medium-gap-size))) translateY(calc(-1 * var(--medium-gap-size)))  rotate(-135deg);
		}

		#mobile-controls-down {
			transform: rotate(180deg);
		}

		#mobile-controls-down-right {
			transform: translateX(calc(-1 * var(--medium-gap-size))) translateY(calc(-1 * var(--medium-gap-size))) rotate(135deg);
		}

		#mobile-controls-ccw {
			transform: rotate(-90deg);
			margin-top: calc(2 * var(--large-gap-size));
		}

		#mobile-controls-space {
			height: calc(6 * var(--large-gap-size));
			border-radius: var(--border-radius);
		}

		#mobile-controls-cw {
			transform: rotate(90deg);
			margin-top: calc(2 * var(--large-gap-size));
		}

/*** again ***/
	#again {
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		transform: translateX(-50%) translateY(-50%);
		background-color: var(--dark-gray);
		border-radius: calc(2 * var(--border-radius));
		box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		padding: var(--medium-gap-size);
	}

	#again a {
		font-size: var(--huge-font-size);
	}

	body:not([mode="gameover"]) #again {
		display: none;
		pointer-events: none;
	}
